[Unit]
Description=Gunicorn instance to serve mobywatelcreator
After=network.target

[Service]
User=%USER%
Group=%GROUP%
WorkingDirectory=%PROJECT_DIR%
Environment="PATH=%PROJECT_DIR%/venv/bin"
ExecStart=%PROJECT_DIR%/venv/bin/gunicorn --workers 3 --bind unix:%PROJECT_DIR%/mobywatelcreator.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target